<div id="container">
    <div id="labels">
      <h1>Deposit</h1>
      <form (ngSubmit)="saveDeposit()">
          <label for="value">Value:</label>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Value" id="value" name="value" [(ngModel)]="transaction.amount"> 
          <label for="description">Data:</label>
          <input type="date" class="form-control" aria-label="Amount (to the nearest dollar)" id="data" name="data" [(ngModel)]="transaction.data">
        <button class="btn btn-success" type="submit">Save</button>

      </form>
    </div>
</div>