@import "~bootstrap/dist/css/bootstrap.min.css";
 *{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
